# 02 - Data from the Web

## Deadline
Wednesday October 25, 2017 at 11:59PM

## Important Notes
* Make sure you push on GitHub your Notebook with all the cells already evaluated (i.e., you don't want your colleagues to generate unnecessary Web traffic during the peer review)
* Don't forget to add a textual description of your thought process, the assumptions you made, and the solution you plan to implement!
* Please write all your comments in English, and use meaningful variable names in your code.

## Background
In this homework we will extract interesting information from www.topuniversities.com and www.timeshighereducation.com, two platforms that maintain a global ranking of worldwide universities. This ranking is not offered as a downloadable dataset, so you will have to find a way to scrape the information we need!
You are not allowed to download manually the entire ranking -- rather you have to understand how the server loads it in your browser. For this task, Postman with the Interceptor extension can help you greatly. We recommend that you watch this [brief tutorial](https://www.youtube.com/watch?v=jBjXVrS8nXs&list=PLM-7VG-sgbtD8qBnGeQM5nvlpqB_ktaLZ&autoplay=1) to understand quickly how to use it.

## Assignment
1. Obtain the 200 top-ranking universities in www.topuniversities.com ([ranking 2018](https://www.topuniversities.com/university-rankings/world-university-rankings/2018)). In particular, extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total). Some information is not available in the main list and you have to find them in the [details page](https://www.topuniversities.com/universities/ecole-polytechnique-fédérale-de-lausanne-epfl).
Store the resulting dataset in a pandas DataFrame and answer the following questions:
- Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
- Answer the previous question aggregating the data by (c) country and (d) region.

Plot your data using bar charts and describe briefly what you observed.

2. Obtain the 200 top-ranking universities in www.timeshighereducation.com ([ranking 2018](http://timeshighereducation.com/world-university-rankings/2018/world-ranking)). Repeat the analysis of the previous point and discuss briefly what you observed.

3. Merge the two DataFrames created in questions 1 and 2 using university names. Match universities' names as well as you can, and explain your strategy. Keep track of the original position in both rankings.

4. Find useful insights in the data by performing an exploratory analysis. Can you find a strong correlation between any pair of variables in the dataset you just created? Example: when a university is strong in its international dimension, can you observe a consistency both for students and faculty members?

5. Can you find the best university taking in consideration both rankings? Explain your approach.

Hints:
- Keep your Notebook clean and don't print the verbose output of the requests if this does not add useful information for the reader.
- In case of tie, use the order defined in the webpage.

In [3]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd
import seaborn
%matplotlib inline

In [4]:
# Make a request
url_main = 'https://www.topuniversities.com'  # Found with postman
r = requests.get(url_main + '/sites/default/files/qs-rankings-data/357051.txt')
print('Response status code: {0}\n'.format(r.status_code))

page_body = r.text

# Serialize the json data with json library
rank_json = json.loads(page_body)

Response status code: 200

In [5]:
rank_df = pd.DataFrame()
rank_df = rank_df.from_dict(rank_json['data']).head(200)
rank_df.stars
rank_df.drop(['logo', 'stars', 'nid','cc', 'score'], axis=1, inplace=True)
rank_df.set_index('core_id', inplace=True)
rank_df = rank_df[['title', 'rank_display', 'country', 'region', 'url']]
rank_df

,title,rank_display,country,region,url
core_id,,,,,
410,Massachusetts Institute of Technology (MIT),1,United States,North America,/universities/massachusetts-institute-technolo...
573,Stanford University,2,United States,North America,/universities/stanford-university
253,Harvard University,3,United States,North America,/universities/harvard-university
94,California Institute of Technology (Caltech),4,United States,North America,/universities/california-institute-technology-...
95,University of Cambridge,5,United Kingdom,Europe,/universities/university-cambridge
478,University of Oxford,6,United Kingdom,Europe,/universities/university-oxford
365,UCL (University College London),7,United Kingdom,Europe,/universities/ucl-university-college-london
356,Imperial College London,8,United Kingdom,Europe,/universities/imperial-college-london
120,University of Chicago,9,United States,North America,/universities/university-chicago
201,ETH Zurich - Swiss Federal Institute of Techno...,10,Switzerland,Europe,/universities/eth-zurich-swiss-federal-institu...
431,"Nanyang Technological University, Singapore (NTU)",11,Singapore,Asia,/universities/nanyang-technological-university...
177,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,/universities/ecole-polytechnique-f%C3%A9d%C3%...
508,Princeton University,13,United States,North America,/universities/princeton-university
143,Cornell University,14,United States,North America,/universities/cornell-university
443,National University of Singapore (NUS),15,Singapore,Asia,/universities/national-university-singapore-nus
684,Yale University,16,United States,North America,/universities/yale-university
305,Johns Hopkins University,17,United States,North America,/universities/johns-hopkins-university
138,Columbia University,18,United States,North America,/universities/columbia-university
495,University of Pennsylvania,19,United States,North America,/universities/university-pennsylvania
40,The Australian National University,20,Australia,Oceania,/universities/australian-national-university
403,University of Michigan,=21,United States,North America,/universities/university-michigan
168,Duke University,=21,United States,North America,/universities/duke-university
180,The University of Edinburgh,=23,United Kingdom,Europe,/universities/university-edinburgh
357,King's College London,=23,United Kingdom,Europe,/universities/kings-college-london
626,Tsinghua University,25,China,Asia,/universities/tsinghua-university
268,The University of Hong Kong,26,Hong Kong,Asia,/universities/university-hong-kong
84,"University of California, Berkeley (UCB)",27,United States,North America,/universities/university-california-berkeley-ucb
615,The University of Tokyo,=28,Japan,Asia,/universities/university-tokyo
456,Northwestern University,=28,United States,North America,/universities/northwestern-university
269,The Hong Kong University of Science and Techno...,30,Hong Kong,Asia,/universities/hong-kong-university-science-tec...
...,...,...,...,...,...
216,Albert-Ludwigs-Universitaet Freiburg,171,Germany,Europe,/universities/albert-ludwigs-universitaet-frei...
282,Indian Institute of Technology Delhi (IITD),172,India,Asia,/universities/indian-institute-technology-delh...
779,King Fahd University of Petroleum & Minerals,=173,Saudi Arabia,Asia,/universities/king-fahd-university-petroleum-m...
350,University of Liverpool,=173,United Kingdom,Europe,/universities/university-liverpool
656,University of Virginia,=173,United States,North America,/universities/university-virginia
587,University of Technology Sydney,176,Australia,Oceania,/universities/university-technology-sydney
173,CentraleSupélec,177,France,Europe,/universities/centralesup%C3%A9lec
212,University of Florida,178,United States,North America,/universities/university-florida
281,Indian Institute of Technology Bombay (IITB),=179,India,Asia,/universities/indian-institute-technology-bomb...
635,University of Twente,=179,Netherlands,Europe,/universities/university-twente
234,University of Göttingen,181,Germany,Europe,/universities/university-g%C3%B6ttingen
74,Vrije Universiteit Brussel (VUB),=182,Belgium,Europe,/universities/vrije-universiteit-brussel-vub
96,Universidade Estadual de Campinas (Unicamp),=182,Brazil,Latin America,/universities/universidade-estadual-de-campina...
137,University of Colorado Boulder,=182,United States,North America,/universities/university-colorado-boulder
653,Vienna University of Technology,=182,Austria,Europe,/universities/vienna-university-technology
530,University of Rochester,186,United States,North America,/universities/university-rochester
379,Universidad Autónoma de Madrid,187,Spain,Europe,/universities/universidad-aut%C3%B3noma-de-madrid
61,Alma Mater Studiorum - University of Bologna,=188,Italy,Europe,/universities/alma-mater-studiorum-university-...
517,University of Reading,=188,United Kingdom,Europe,/universities/university-reading
22878,Indian Institute of Science (IISc) Bangalore,190,India,Asia,/universities/indian-institute-science-iisc-ba...
98,University of Cape Town,191,South Africa,Africa,/universities/university-cape-town
25824,Scuola Normale Superiore di Pisa,=192,Italy,Europe,/universities/scuola-normale-superiore-di-pisa
751,Scuola Superiore Sant'Anna Pisa di Studi Unive...,=192,Italy,Europe,/universities/scuola-superiore-santanna-pisa-d...
314,Keio University CEMS MIM,=192,Japan,Asia,/universities/keio-university-cems-mim
577,Stockholm University,=195,Sweden,Europe,/universities/stockholm-university
44,Universitat Autònoma de Barcelona,=195,Spain,Europe,/universities/universitat-aut%C3%B2noma-de-bar...
605,Texas A&M University,=195,United States,North America,/universities/texas-am-university
594,Instituto Tecnológico y de Estudios Superiores...,199,Mexico,Latin America,/universities/instituto-tecnol%C3%B3gico-y-de-...
377,Maastricht University,200,Netherlands,Europe,/universities/maastricht-university
121,Universidad de Chile,201,Chile,Latin America,/universities/universidad-de-chile

In [6]:
# Find the values for number of faculty members and students
fac_memb_tot = []
fac_memb_int = []
nb_stud_tot = []
nb_stud_int = []

for url in rank_df.url:
    
    uni_url = requests.get(url_main + url)
    uni_body = uni_url.text
    
    # 1) Faculty Members: 
    # 1.1) Total
    soup = BeautifulSoup(uni_body, 'html.parser')
    soup1 = soup.find('div', class_='total faculty')
    if soup1:
        soup2 = soup1.find('div', class_='number')
        if soup2:
            fac_memb_tot.append({'fac_memb_tot': soup2.text})
        else:
            fac_memb_tot.append({'fac_memb_tot': -99})
    else:
        fac_memb_tot.append({'fac_memb_tot': -99})
        
    # 1.2) International
    soup3 = soup.find('div', class_='inter faculty')
    if soup3:
        soup4 = soup3.find('div', class_='number')
        if soup4:
            fac_memb_int.append({'fac_memb_int': soup4.text})
        else:
            fac_memb_int.append({'fac_memb_int': -99})
    else:
        fac_memb_int.append({'fac_memb_int': -99})
        
    # 2) Students:
    # 2.1) Total
    soup5 = soup.find('div', class_='total student')
    if soup5:
        soup6 = soup5.find('div', class_='number')
        if soup6:
            nb_stud_tot.append({'nb_stud_tot': soup6.text})
        else:
            nb_stud_tot.append({'nb_stud_tot': -99})
    else:
        nb_stud_tot.append({'nb_stud_tot': -99})
    
    # 2.2) International
    soup7 = soup.find('div', class_='total inter')
    if soup7:
        soup8 = soup7.find('div', class_='number')
        if soup8:
            nb_stud_int.append({'nb_stud_int': soup8.text})
        else:
            nb_stud_int.append({'nb_stud_int': -99})
    else:
        nb_stud_int.append({'nb_stud_int': -99})

In [7]:
# Convert the list to dataframe
fac_memb_tot1 = pd.DataFrame.from_dict(fac_memb_tot).replace({r'\n': ''}, regex=True).replace({r',': ''}, regex=True).apply(pd.to_numeric).astype(int)
            
fac_memb_int1 = pd.DataFrame.from_dict(fac_memb_int).replace({r'\n': ''}, regex=True).replace({r',': ''}, regex=True).apply(pd.to_numeric).astype(int)

nb_stud_tot1 = pd.DataFrame.from_dict(nb_stud_tot).replace({r'\n': ''}, regex=True).replace({r',': ''}, regex=True).apply(pd.to_numeric).astype(int)

nb_stud_int1 = pd.DataFrame.from_dict(nb_stud_int).replace({r'\n': ''}, regex=True).replace({r',': ''}, regex=True).apply(pd.to_numeric).astype(int)

In [8]:
# Concatenate the different dataframes
details_df = pd.concat([fac_memb_tot1, fac_memb_int1, nb_stud_tot1, nb_stud_int1], axis=1)
details_df.set_index(rank_df.index, inplace=True)
qs_df = pd.concat([rank_df, details_df], axis=1)
qs_df.drop(['url'], axis=1, inplace=True)

# Delete the = in rank_display
qs_df.rank_display = qs_df.rank_display.replace({r'=': ''}, regex=True).apply(pd.to_numeric).astype(int)

# Create the faculty members ratio and number of students ratio
qs_df['fac_memb_ratio'] = qs_df.fac_memb_tot / qs_df.nb_stud_tot
qs_df['int_stud_ratio'] = qs_df.nb_stud_int / qs_df.nb_stud_tot
qs_df

# To do, treat -99 (unknowns)

,title,rank_display,country,region,fac_memb_tot,fac_memb_int,nb_stud_tot,nb_stud_int,fac_memb_ratio,int_stud_ratio
core_id,,,,,,,,,,
410,Massachusetts Institute of Technology (MIT),1,United States,North America,2982,1679,11067,3717,0.269450,0.335863
573,Stanford University,2,United States,North America,4285,2042,15878,3611,0.269870,0.227422
253,Harvard University,3,United States,North America,4350,1311,22429,5266,0.193945,0.234785
94,California Institute of Technology (Caltech),4,United States,North America,953,350,2255,647,0.422616,0.286918
95,University of Cambridge,5,United Kingdom,Europe,5490,2278,18770,6699,0.292488,0.356899
478,University of Oxford,6,United Kingdom,Europe,6750,2964,19720,7353,0.342292,0.372870
365,UCL (University College London),7,United Kingdom,Europe,6345,2554,31080,14854,0.204151,0.477928
356,Imperial College London,8,United Kingdom,Europe,3930,2071,16090,8746,0.244251,0.543567
120,University of Chicago,9,United States,North America,2449,635,13557,3379,0.180645,0.249244
201,ETH Zurich - Swiss Federal Institute of Techno...,10,Switzerland,Europe,2477,1886,19815,7563,0.125006,0.381681
431,"Nanyang Technological University, Singapore (NTU)",11,Singapore,Asia,4338,2993,25738,7251,0.168545,0.281724
177,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,1695,1300,10343,5896,0.163879,0.570047
508,Princeton University,13,United States,North America,1007,246,8069,1793,0.124799,0.222208
143,Cornell University,14,United States,North America,2718,970,21904,5411,0.124087,0.247033
443,National University of Singapore (NUS),15,Singapore,Asia,5106,3086,32728,8917,0.156013,0.272458
684,Yale University,16,United States,North America,4940,1708,12402,2469,0.398323,0.199081
305,Johns Hopkins University,17,United States,North America,4462,1061,16146,4105,0.276353,0.254243
138,Columbia University,18,United States,North America,6189,913,25045,8105,0.247115,0.323617
495,University of Pennsylvania,19,United States,North America,5499,1383,20639,4250,0.266437,0.205921
40,The Australian National University,20,Australia,Oceania,1600,927,14442,5551,0.110788,0.384365
403,University of Michigan,21,United States,North America,6809,1920,43147,7527,0.157809,0.174450
168,Duke University,21,United States,North America,2938,226,15320,2864,0.191775,0.186945
180,The University of Edinburgh,23,United Kingdom,Europe,4075,1553,28040,10551,0.145328,0.376284
357,King's College London,23,United Kingdom,Europe,3650,1513,23780,9451,0.153490,0.397435
626,Tsinghua University,25,China,Asia,5506,932,36300,4072,0.151680,0.112176
268,The University of Hong Kong,26,Hong Kong,Asia,3012,2085,20214,8230,0.149006,0.407144
84,"University of California, Berkeley (UCB)",27,United States,North America,3321,1395,36703,6086,0.090483,0.165818
615,The University of Tokyo,28,Japan,Asia,4514,254,27279,2639,0.165475,0.096741
456,Northwestern University,28,United States,North America,4231,1141,18675,3422,0.226560,0.183240
269,The Hong Kong University of Science and Techno...,30,Hong Kong,Asia,1150,835,10375,2921,0.110843,0.281542
...,...,...,...,...,...,...,...,...,...,...
216,Albert-Ludwigs-Universitaet Freiburg,171,Germany,Europe,1966,413,23214,3897,0.084690,0.167873
282,Indian Institute of Technology Delhi (IITD),172,India,Asia,466,4,7477,80,0.062324,0.010699
779,King Fahd University of Petroleum & Minerals,173,Saudi Arabia,Asia,1062,665,6040,989,0.175828,0.163742
350,University of Liverpool,173,United Kingdom,Europe,2390,717,22065,7502,0.108316,0.339995
656,University of Virginia,173,United States,North America,2509,487,21560,1899,0.116373,0.088080
587,University of Technology Sydney,176,Australia,Oceania,1328,546,24207,7769,0.054860,0.320940
173,CentraleSupélec,177,France,Europe,529,137,3877,1132,0.136446,0.291978
212,University of Florida,178,United States,North America,5419,504,45485,4597,0.119138,0.101066
281,Indian Institute of Technology Bombay (IITB),179,India,Asia,876,19,9402,93,0.093172,0.009892
635,University of Twente,179,Netherlands,Europe,910,299,9332,2235,0.097514,0.239498
234,University of Göttingen,181,Germany,Europe,3678,641,30402,3736,0.120979,0.122887
74,Vrije Universiteit Brussel (VUB),182,Belgium,Europe,1792,515,9284,1853,0.193020,0.199591
96,Universidade Estadual de Campinas (Unicamp),182,Brazil,Latin America,1968,109,26572,966,0.074063,0.036354
137,University of Colorado Boulder,182,United States,North America,3685,566,30219,2679,0.121943,0.088653
653,Vienna University of Technology,182,Austria,Europe,706,172,17479,5199,0.040391,0.297443
530,University of Rochester,186,United States,North America,2569,488,9636,2805,0.266604,0.291096
379,Universidad Autónoma de Madrid,187,Spain,Europe,2738,181,26511,2976,0.103278,0.112255
61,Alma Mater Studiorum - University of Bologna,188,Italy,Europe,2990,153,63399,4195,0.047162,0.066168
517,University of Reading,188,United Kingdom,Europe,1280,422,13330,4077,0.096024,0.305851
22878,Indian Institute of Science (IISc) Bangalore,190,India,Asia,423,-99,4071,47,0.103906,0.011545
98,University of Cape Town,191,South Africa,Africa,1733,379,19593,3325,0.088450,0.169703
25824,Scuola Normale Superiore di Pisa,192,Italy,Europe,86,1,532,48,0.161654,0.090226
751,Scuola Superiore Sant'Anna Pisa di Studi Unive...,192,Italy,Europe,119,1,789,135,0.150824,0.171103
314,Keio University CEMS MIM,192,Japan,Asia,3905,261,33500,2178,0.116567,0.065015
577,Stockholm University,195,Sweden,Europe,2154,646,28281,2636,0.076164,0.093207
44,Universitat Autònoma de Barcelona,195,Spain,Europe,2187,230,31986,3848,0.068374,0.120303
605,Texas A&M University,195,United States,North America,3446,206,60294,4900,0.057153,0.081268
594,Instituto Tecnológico y de Estudios Superiores...,199,Mexico,Latin America,1822,821,13376,1412,0.136214,0.105562
377,Maastricht University,200,Netherlands,Europe,1277,502,16385,8234,0.077937,0.502533
121,Universidad de Chile,201,Chile,Latin America,2256,127,38848,2134,0.058072,0.054932

In [9]:
#Before doing the exploratory analysis, a analysis of the different columns we are seeing.
qs_df.describe()

,rank_display,fac_memb_tot,fac_memb_int,nb_stud_tot,nb_stud_int,fac_memb_ratio,int_stud_ratio
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.245000,2897.890000,777.555000,25580.090000,5052.375000,0.130324,0.214699
std,57.771991,2016.958915,669.185642,17189.592558,3931.861798,0.086350,0.129023
min,1.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.040391,0.009892
25%,50.750000,1603.000000,322.750000,14831.250000,2434.500000,0.084675,0.122241
50%,100.500000,2602.500000,591.500000,23738.500000,4248.000000,0.115368,0.194800
75%,149.500000,3627.250000,1027.250000,32205.500000,6877.250000,0.148743,0.280678
max,201.000000,16421.000000,3905.000000,141939.000000,27109.000000,1.000000,1.000000

In [15]:
qs_df.fac_memb_tot.value_counts()[-99]

1

In [ ]:
qs_df.drop(-99)